[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymysql = "*"
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-ratelimit = "*"
django-filter = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.12"
